/.AnnotationDescriptionLabelProvider.java._trace
/.AnnotationDescriptionLabelProvider.xtendbin
/.AnnotationLabelProvider.java._trace
/.AnnotationLabelProvider.xtendbin
/AnnotationDescriptionLabelProvider.java
/AnnotationLabelProvider.java
