/.AnnotationRuntimeModule.java._trace
/.AnnotationRuntimeModule.xtendbin
/.AnnotationStandaloneSetup.java._trace
/.AnnotationStandaloneSetup.xtendbin
/AnnotationRuntimeModule.java
/AnnotationStandaloneSetup.java
